.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #6F4E37;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 128px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  font-family:Comic Sans MS;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
	position:relative;
	top:1px;
}

.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #0074a7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 62px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  font-family:Comic Sans MS;
}

.button2:hover {
  background-color: #57b3db;
}

.button2:active {
	position:relative;
	top:1px;
}

.button3 {
  display: inline-block;
  border-radius: 4px;
  background-color: #0074a7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 128px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  font-family:Comic Sans MS;
}

.button3:hover {
  background-color: #57b3db;
}

.button3:active {
	position:relative;
	top:1px;
}

.center {
  text-align: center;
  
}

#nameInput {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 105px;
  transition: all 0.5s;
  margin: 0px;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  font-family: Comic Sans MS;
  border: 1px solid #ddd; /* Add a grey border */
}

#myUL {
  list-style-type: none;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 128px;
  height: 213px;
  transition: all 0.5s;
  margin: 0px;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  font-family: Comic Sans MS;
  border: 1px solid #ddd; /* Add a grey border */
}

#myUL option a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL option a.header {
  background-color: #e2e2e2; /* Add a darker background color for headers */
  cursor: default; /* Change cursor style */
}

#myUL option a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}